# drawio
*.bkp

# macOS
.DS_Store

# Terraform

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars.json
*.tfvars
*.tfplan
*.bin
.crash.log

# Terraform plan outputs
tfplan.json
tfplan.bin

# TF files to exclude
#main.tf
#backend.tf
